@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}

label{
    @apply text-lg font-semibold text-gray-800
}

input{
    @apply block w-full px-3 py-2 mt-1 font-medium text-gray-600 bg-white border-2 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary
    
}

select{
    @apply block w-full px-3 py-2 mt-1 text-base font-medium text-gray-800 bg-white border-2 border-gray-300 rounded-md focus:outline-none focus:ring-primary focus:border-primary
}

option{
    @apply font-medium text-gray-600 text-base
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-track:horizontal {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D1D5DB;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #D1D5DB;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6B7280;
}

::-webkit-scrollbar-thumb:hover:horizontal {
    background: #6B7280;
}